/* ------------defalt css----------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(175, 164, 164);
}

/* --------------website layout ------------- */
.header{
    grid-area: head;
}
.left-sidebar{
    grid-area: sidebar;
    border-right:solid rgb(68, 63, 63);
}
.all_news{
    grid-area: news;
}
.footer{
    grid-area: foot;
    border-top: solid rgb(64, 61, 61);
}
.main{
    background-color:rgb(16, 16, 16);
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "head head"
    "sidebar news"
    "foot foot" ;
}
/* ---------header----------- */

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    background-color: rgb(32, 31, 31);
    img{
        width: 150%;
    }
    .search{  
        background-color: rgb(54, 118, 54);
        width: 40%;
        height: 10vh;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        input{  
            width: 90%;
            height: 100%;
            font-size: 1.5rem;
            background-color:rgb(54, 118, 54);
            border: none;  
            outline: none;
            color: white;        
        }
        input::placeholder{
            color: white;
            font-size: 1.5rem;
        }
    }
}
/* ---------left-sidebar--------- */
.left-sidebar{
    .heding{
        margin-top: 4rem;
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 1.5rem;
    color: rgb(80, 175, 80);
}

/* -------------all News -------------  */
/* -----links----- */
.category{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    font-size: 1.5rem;  
    background-color: rgb(3, 73, 18);
    width: 83%;
    height: 7vh;
   
}
/* ------news---- */
.heding{
    color: rgb(134, 238, 134);
    margin: 2rem;
    text-align: center;
    
}
.news_container{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
.content{
    border: 1px solid green;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(29, 28, 28);
    img{
        width: 80%;
    }
    h3{
        font-family: serif;
    }
}
/* --------------footer------------- */
.footer-links{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 1.5rem;
}

/* -------------responivess------------- */

/* tablate */
@media screen and (max-width: 768px) {
    .header-top{
        height: auto;
        width: auto;
        img{
            width: 90%;
        }
        .search{
            width: auto;
            height: auto;
        }
    }
    .category{
        font-size: 1rem;
        width: 70%;
    }
    .news_container{
        grid-template-columns: 6fr 6fr;  
          
    } 
    .footer-links{
        grid-template-columns: auto auto auto;
    }
    
}
/* mobile */
@media screen and (max-width: 500px){
    .main {
        padding: auto;
        grid-template-columns: auto; 
        grid-template-areas:
        "head"
        "news"
        "foot";
        
    }
    .header-top{
        height: auto;
        width: auto;
        img{
            width: 50%;
        }
        .search{
            width: auto;
            height: auto;
        }
    }
    .category{
        font-size: 0.8rem;
        position: fixed;
        width: 49vh;
        height: 5vh;
        bottom: 0;

    }
    .news_container{
        grid-template-columns: auto;  
    } 
   
    .footer-links{
        grid-template-columns: auto;
        margin: 4.4rem;
    }
    .footer-content{
        color: green;
    }
}